<h1>Welcome <%=user.firstName %>
</h1>
<div>
    <%=message%>
</div>

<div>
    <div>
        <a href="/reset">ReSet Password</a>
    </div>

    <div>
        <a href="/userProfile">User Profile</a>
    </div>

    <div>
        <a href="/userDashboard">User Dashboard</a>
    </div>
</div>
<div>
    <form action="/logout" method="POST">
        <button type="submit">Sign Out</button>
        <input type="hidden" id="email" name="email" value=<%=user.email %> />
    </form>
</div>