<h1>Welcome <%=user.firstName %>
</h1>
<div>
    <%=message%>
</div>

<div>
    <div>
        <a href="/reset">ReSet Password</a>
    </div>

    <div>
        <a href="/userProfile">User Profile</a>
    </div>

    <div>
        <a href="/userDashboard">User Dashboard</a>
    </div>
</div>
<div>
    <a href="/logout">Sign Out</a>
</div>