<h1>Login</h1>
<div><%=errors%></div>
<div><%=message%></div>

<form action="/login" method="POST">
<div>
    <label for="name">Email</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="name">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button type="submit">Sign In</button>
<br/>
      <p>or</p>
      <a href="/auth/facebook">Signup via Facebook</a>
      <br/><br/>
      <a href="/auth/google">Signup via Google</a>
</form>
<a href="/register">Sign Up</a>