<h1>Hey <%=user.firstName %> ! Please set your password</h1>

<div>
    <%=message%>
</div>

<div>
    <% errors.forEach(function (error) { %>
        <p>
            <%- JSON.stringify(error) %>
        </p>
        <% }) %>
</div>
<form action="/setPassword" method="POST">
    <div>
        <label for="name">Set Your New Password</label>
        <input type="password" id="newPwd" name="newPwd" required>
    </div>

    <button type="submit">Set Password</button>
</form>