<h1>Hey  <%=user.firstName %> ! Please set your password</h1>

<div>
    <%=message%>
</div>
<form action="/setPassword" method="POST">
    <div>
        <label for="name">Set Your New Password</label>
        <input type="password" id="newPwd" name="newPwd" required>
    </div>
    
    <button type="submit">Set Password</button>
    </form>
