<html>

<head>
  <script src="https://cdn.tryretool.com/embed.js"> </script>

</head>

<body>


  <div style="height: 800px; width: 100%;" id='container'></div>

  <script>
    var rt = window.retool.RetoolDashboard(document.getElementById('container'), 'https://myloginapp.retool.com/embedded/public/826c5f74-bb81-4121-92a9-6fea2102a6fb')
  </script>
</body>

</html>